<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digital.ledger.mapper.LedgerMapper">

    <select id="findLedgerListWithMe" resultType="com.digital.model.ledger.entity.LedgerEntity">
        select distinct
            t1.id as id,
            t1.file_id as fileId,
            t1.temp_id as temp_id,
            t1.type as type,
            t1.name as name,
            t1.sheet_name as sheetName,
            t1.path as path,
            t1.status as status,
            t1.create_by_id AS createById,
            t1.create_by AS createBy,
            t1.create_time AS createTime,
            t1.update_by AS updateBy,
            t1.update_time AS updateTime
        from
            led_ledger_t t1,
            led_row_t t2
        <where>
                t1.temp_id = t2.temp_id
            and t1.status = 1
            and t1.del_flag = 1
            and t2.assigner = #{assigner, jdbcType=VARCHAR}
        </where>
        order by t1.create_time desc
    </select>

</mapper>
